
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add A User</title>


</head>
<body>
<h1>Users</h1>
<table style="width:10%">

					<form action="/admin/adduser/" method="POST">

							Username: <input  name="username" value=""/><br/>
		                    Password: <input name="password" value="" /><br/>
                            Full Name: <input name="fullname" value="" /><br/>
						<input name="username"  value="{{ username[0] }}" type="hidden" /><br/>
					</form>


</table>
</body>

</html>
