
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add A User</title>


</head>
<body>
<h1>Add A User</h1>


					<form action="/admin/adduser/" method="POST">

							<span style="font-size: 25px;margin-top: 40px">Username: <input style="margin-left: 3px; height: 27px;font-size: 25px" name="username" value=""/> </span><br/>
		                    <span style="font-size: 25px;margin-top: 40px">Password:  <input style="margin-left: 9px;height: 27px;font-size: 25px" name="password" value="" /> </span><br/>
                            <span style="font-size: 25px;margin-top: 40px">Full Name: <input style="height: 27px;font-size: 25px" name="fullname" value="" /> </span><br/>
							<button type="submit" style="text-decoration:none;text-transform: capitalize;font-size: 25px;margin-top: 20px ">Add User</button>
					</form>

</body>

</html>
