
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add A User</title>


</head>
<body>
<h1>Users</h1>
<table style="width:10%">

					<form action="/admin/adduser/" method="POST">

							Username: <input  name="username" value=""/><br/>
		                    Password: <input name="password" value="" /><br/>
                            Full Name: <input name="fullname" value="" /><br/>
							<button type="submit" style="text-decoration:none;text-transform: capitalize;font-size: 25px;margin-top: 20px ">Add User</button>
					</form>


</table>
</body>

</html>
