
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Users</title>

</head>
<body>
<h1>Users</h1>
<table style="width:10%">
	 {% for name in results %}

  			<tr>
    			<td><a href="/admin/deleteUser{{ name[0] }}" style="margin-right:20px;text-transform: capitalize;font-size: 30px ">{{name[0]}}</a> </td>
    			<td>
					<form action="/admin/deleteUser" method="POST">
						<input name="name"  value="{{ name[0] }}" type="hidden" /><br/>
						<input type="submit" value="DELETE" style="text-decoration:none;text-transform: capitalize;font-size: 30px ">

					</form>
				</td>
			</tr>
    {% endfor %}
</table>
</body>
</html>
