
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Users</title>

</head>
<body>
<h1>Users</h1>
<table style="width:10%">
	 {% for name in results %}

  			<tr>
    			<td><a href="{{ name.href }}" style="margin-right:20px;text-transform: capitalize;font-size: 30px ">{{name}}</a> </td>
    			<td><button type="submit" action="/admin/deleteUser" method="POST"  value="{{name}}" style="text-decoration:none;text-transform: capitalize;font-size: 30px "><b>delete</b></button></td>
			</tr>
    {% endfor %}
</table>
</body>
</html>
