
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Users</title>


</head>
<body>
<h1>Users</h1>
<table style="width:10%">
	 {% for username in results %}

  			<tr>
    			<td><a href="/admin/modifyUser/{{ username[0] }}" style="margin-right:20px;text-transform: capitalize;font-size: 30px ">{{username[0]}}</a> </td>
    			<td>
					<form action="/admin/deleteUser/{{ username[0] }}" method="POST">
						<input name="username"  value="{{ username[0] }}" type="hidden" /><br/>


						<button type="submit" id="confirm" value="ARE YOU SURE?" style="text-decoration:none;text-transform: capitalize;font-size: 30px; ">DELETE</button>

					</form>
				</td>
			</tr>
    {% endfor %}
</table>
</body>

</html>
