
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta charset="utf-8">
	<title>Main</title>


</head>
<body>
<div style="margin-left: 40px">
<h1>Main</h1>



	<a href="/add-image"  class="buttons">Add Image</a>
    <a href="/add-image" style="text-decoration:none;font-size: 25px; background: #f0d6d6;color: black;padding: 10px;margin-right: 10px; border: 2px solid black;border-radius: 5px; ">View Image</a>
    <a href="/admin/users" style="text-decoration:none;font-size: 25px; background: #f0d6d6;color: black;padding: 10px;margin-right: 10px; border: 2px solid black;border-radius: 5px; ">Manage Users</a>

</div>
</body>

</html>
