.buttons{
    text-decoration:none;
    font-size: 25px;
    background: #f0d6d6;color: black;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

img{
    height: 200px;
    width: 200px;
}